# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://json.schemastore.org/clang-format.json
---
BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
Standard: c++11
PointerAlignment: Right
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
BinPackArguments: false
SortIncludes: CaseInsensitive
BinPackParameters: false
BreakBeforeBraces: Custom

BraceWrapping:
  AfterClass: true
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  SplitEmptyRecord: false

AllowShortBlocksOnASingleLine: Always
AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakTemplateDeclarations: Yes
MaxEmptyLinesToKeep: 2
ColumnLimit: 88
AlwaysBreakBeforeMultilineStrings: true
SpaceBeforeCpp11BracedList: true
QualifierAlignment: Left
...
